html, body {
    margin: 0;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
    background-color: white;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.logo span {
    color: #fff;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}

.logoutbutton {
    color: red;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #000;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: white;
    transition: all 0.5s ease;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

#headertext {
    font-size: 2.5em;
    text-align: center;
    color: #bf0603ff;
    margin: 0;
    font-weight: 800;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
}

main {
    padding-top: 100px;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comments-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.commentpost {
    margin-top: 20px;
}

.text {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.comment-white {
    background-color: white;
}

.comment-gray {
    background-color: gray;
}

@media (max-width: 840px) {
    .logo {
        display: none;
    }
}